<div class="bg-black absolute text-sm text-white transition opacity-0 hover:!opacity-0 group-hover:opacity-100 z-20 <%= style(position:) %> whitespace-nowrap rounded-md py-1.5 px-3.5">
  <span class="bg-black absolute -z-10 h-2 w-2 rotate-45 <%= style(:arrow, position:) %>"></span>
  <%= content %>
</div>
