<%#
# Flash Partial

This partial renders flash messages on every page.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<div id="flashes_container" aria-live="assertive"
     class="flashes_container z-10 fixed inset-0 top-auto flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start print:hidden">
  <div id="flashes" class="flashes w-full flex flex-col items-center space-y-4 sm:items-end">
    <% flash.each do |type, value| %>
      <% next unless value.respond_to?(:html_safe) %>

      <%= render Admin::Notification::Flash::Component.new(type, value) %>
    <% end %>
  </div>
</div>
