<div class="rounded-md p-4 mt-4 <%= style(wrapper: kind) %>" role="alert">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= inline_svg_tag icon, class: "h-5 w-5 #{style(icon: kind)}" %>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium <%= style(message: kind) %>">
        <%= message %>
      </h3>
    </div>
  </div>
</div>
